{% extends "layout.html" %}

{% block navigation %}
    <ul class="nav nav-stacked nav-title">
        {% for category in nav %}
        <li class="layui-nav-item">
            <a href="{{ category.Name }}">{{ category.Title }}</a>
            <ul class="sub-menu scroll">
                {% for option in category.Option %}
                <li>
                    <a href="{{category.Name}}#{{ option.Title }}">{{ option.Title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock%}

<!-- 指定某一个 category 下的所有内容 -->
{% block content %}
    <ul>
        {% for option in results %}
            <li id="{{ option.Title }}">{{ option.Title }}</li>
            <ol>
                {% for card in option.Card %}
                <a href="{{ card.Url }}"><li>{{ card.Title }}</li></a>
                <ul>
                    <li>{{ card.ImageUrl }}</li>
                    <li>{{ card.Describe }}</li>
                    <li>{{ card.Url }}</li>
                </ul>
                {% endfor %}
            </ol>
        {% endfor %}
    </ul>
{% endblock %}